@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar::-webkit-scrollbar {
    height: 8px !important;
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #ffffff3b;
}